.header {
  display: flex;
  justify-content: space-between;
  color: #303030;
}

.header > div:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.header > .playlist-list-more > div {
  background-color: #303030;
}
