.nowplaying {
  position: absolute;
  display: flex;
  bottom: 20px;
  box-shadow: 0px 1px 5px #222222;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #222222;
  color: white;
  width: 87%;
  height: 50px;
  border-radius: 25px;
  font-size: 13px;
}

.nowplaying-song-artist {
  opacity: 0.5;
  margin-bottom: 5px;
}

.nowplaying-ctrl {
  display: flex;
  align-items: center;
}

.nowplaying-ctrl > div {
  margin: 5px;
}

.nowplaying-ctrl > div:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.nowplaying-ctrl-pause {
  font-size: 20px;
}
