.profile {
  display: flex;
  justify-content: center;
  margin: 15px;
  margin-bottom: 25px;
}

.profile > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0px 3px 30px -5px;
}
