* {
  margin: 0;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.outter-box {
  background-color: #6bbcbe;
  width: 500px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.circles {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  animation: rotate-circle 1s ease infinite;
}

.circles div {
  background-color: white;
  width: 10px;
  height: 10px;
  margin: 15px;
  border-radius: 50%;
}

.rectangles {
  display: flex;
  justify-content: center;
}

@keyframes bigger-y {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scale(1);
  }
}

.rectangles div {
  background-color: white;
  width: 10px;
  height: 40px;
  margin: 3px;
  animation: bigger-y 1s ease-in-out infinite;
}

.rectangles div:nth-child(2) {
  animation-delay: 0.1s;
}

.rectangles div:nth-child(3) {
  animation-delay: 0.2s;
}

.rectangles div:nth-child(4) {
  animation-delay: 0.3s;
}

.rectangles div:last-child {
  animation-delay: 0.4s;
}
