@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "titlebox.css";
@import "mainscreen.css";
@import "btn.css";
@import "playlist.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
}

.play-box {
  border: 5px solid #00c6ad;
  width: 400px;
  height: 800px;
  padding: 0 30px;
}

.bold {
  font-size: 22px;
  font-weight: 700;
}
