#no-mobile,
#no-landscape {
  position: absolute;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  top: 0;
}

#no-landscape {
  z-index: 98;
}

#no-mobile {
  z-index: 99;
}

@media screen and (orientation: portrait) {
  #no-landscape {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #no-mobile {
    display: none;
  }
}
