.booklist {
  margin: 20px;
}

.booklist-title {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px;
}

.booklist-lists {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.booklist-list {
  margin-right: 15px;
}

.booklist-list-cover > img {
  border-radius: 10px;
  width: 80px;
  height: 120px;
}

.booklist-list-star {
  text-align: center;
}
