@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "titlebar.css";
@import "search.css";
@import "mainbook.css";
@import "booklist.css";
@import "author.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 400px;
  position: relative;
}

.btn {
  transition: background-color 1s linear;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffafbd;
  color: white;
}
