.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffce33;
  height: 100px;
  margin-bottom: 60px;
}

.title-bar-icon {
  margin: 20px;
  font-weight: 600;
}
